.content{
  width: 70%;
 
 
  margin: auto;
}
.img{
  width: 100%;
  height: 500px;
}
.grid{
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
  
}
.img-component{
  width: 200px;
  margin: 20px;
  height: 125px;
  cursor: pointer;
}
.img-component:hover{
opacity: 0.5;
}
